<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<link rel="stylesheet" href="css/site.css">
<body>
<header class="main-header">
    <div class="container header-container">

        <div class="logo">
            <a asp-controller="Home" asp-action="Index">
                📇 Contact Manager
            </a>
        </div>

        <nav class="nav-links">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Upload">Upload CSV</a>
        </nav>

        <div class="header-actions">
            <a asp-controller="Home"
               asp-action="Upload"
               class="btn btn-primary">
                + Add Contacts
            </a>
        </div>

    </div>
</header>

@RenderBody()

</body>
</html>